@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@font-face {
    font-family: 'Samarata';
    src: url('fonts/samarata.regular.ttf') format('truetype');
}
@font-face {
    font-family: 'WichyLover';
    src: url('fonts/WichyLover-nAAgO.ttf') format('truetype');
}



/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: "Raleway", sans-serif;
    line-height: 1.6;
    background-color: #b2fba5;
    color: #333;
    padding: 20px;
}

nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-family: "WichyLover", sans-serif;
}
