@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@font-face {
    font-family: 'Samarata';
    src: url('fonts/samarata.regular.ttf') format('truetype');
}
@font-face {
    font-family: 'WichyLover';
    src: url('fonts/WichyLover-nAAgO.ttf') format('truetype');
}



/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: "Raleway", sans-serif;
    line-height: 1.6;
    background-color: #cef8c6;
    color: #333;
    padding: 20px;
}

/* Navigation Bar Styling */
nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo Styling */
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-family: "WichyLover", sans-serif;
    transition: all 0.3s ease;  
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;;
}

.content h1{
    font-size: 70px;
    font-family: "WichyLover", sans-serif;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    letter-spacing: 2px;    
}

.content p{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    letter-spacing: 1px;    
}

.chibis{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.chibis ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
.chibis ul li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;  
}
.chibis ul li img:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.chibis ul li img:active{
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.chibis ul li img:focus{
    outline: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.chibi-text{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
    color: #333;
    text-align: center;
    letter-spacing: 1px;    
    font-weight: 700;
}